.jumbotron {
    background-image: url(https://media.giphy.com/media/xT0xevy2XHG8Ix3fu8/giphy.gif);
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    Height: 37%;
}

#title {
    color: white;
    text-shadow: 6px 0 8px red;
    font-family: 'Fugaz One', cursive;
    font-size: 500%;
    margin-top: 20px;
}

#sub-header {
    color: white;
    font-weight: bold;
    font-size: 165%;
}

#table-header {
    background-color: red;
    font-weight: bold;
}

#table-body {
    background-color: beige;
}


#form {
    border-color: black 3px;
}